.selection-text {
    color: white;
}

.selection-text:hover {
    color:rgb(0, 255, 0);
    cursor: pointer;
}

.labl {
    display : block;
}

.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

.labl > input:checked + p {
    color:rgb(0, 255, 0)
}

.submit-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 1rem 0 0 0;
    padding: 0;
    color: white;
    font-size: 1rem;
    font-family: modeseven;
}

.submit-button:hover {
    color:rgb(0, 255, 0)
}

.link-text {
    color: white;
    text-decoration: none;
    padding: 0rem;
    margin-top: 1rem;
    cursor: pointer;
}

.link-text:hover {
    color: rgb(0,255,0);
}

.text-field-div {
    display: flex;
}

.text-input {
    font-family: modeseven;
    font-size: 1rem;
    background: none;
    border: none;
    color: white;
    margin-top: 0rem;
    margin-left: 0.5rem;
    padding: 0rem;
}

.text-input-arrow {
    margin: 0rem;
    padding: 0rem;
}

.text-input:focus {
    font-family: modeseven;
    font-size: 1rem;
    background: none;
    outline: none;
    color: white;
}

.greeting-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.load-options-div {
    margin-top: 2rem;
}

.item-selection-div {
    margin-top: 2rem;
}