.option-text {
    cursor: pointer;
}

.game-container-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

@media only screen and (max-height: 574px) {
    .inventory-div {
        border: 3px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 2rem;
        text-align: center;
        margin: 1rem;
        position: -webkit-sticky;
        position: sticky;
        height: 75vh;
        top: 3rem;
        bottom: 1rem;
        z-index: 1;
    }
}


@media only screen and (max-height: 850px) and (min-height: 575px){
    .inventory-div {
        border: 3px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 2rem;
        text-align: center;
        margin: 1rem;
        height: 85vh;
        position: -webkit-sticky;
        position: sticky;
        top: 3rem;
        bottom: 1rem;
        z-index: 1;
    }
}

@media only screen and (min-height: 851px) {
    .inventory-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 2rem;
        text-align: center;
        border: solid white 3px;
        margin: 1rem;
        height: 90vh;
        position: -webkit-sticky;
        position: sticky;
        top: 3rem;
        bottom: 1rem;
        z-index: 1;
    }
}

.game-text-div {
    width: 81%;
}

.inventory-item {
    margin: 0.3rem;
}

.game-input {
    font-family: modeseven;
    font-size: 1rem;
    background: none;
    border: none;
    color: white;
    margin-top: 0rem;
    margin-left: 0.5rem;
    padding: 0rem;
}

.game-input-arrow {
    margin: 0rem;
    padding: 0rem;
}

.game-input:focus {
    font-family: modeseven;
    font-size: 1rem;
    background: none;
    outline: none;
    color: white;
}

.text-input-div {
    display: flex;
    align-items: center;
    margin-top: 0rem;
    padding: 0rem;
}

.quit-button-link-text {
    color: white;
    text-decoration: none;
    padding: 0rem;
}

.quit-button-link-text:hover {
    color: rgb(0,255,0);
}

.description-div {
    text-align: left;
    padding: 0 1rem;
    border: white solid 3px;
    background: black;
    position: fixed;
    right: 15vw;
    top: 3rem;
    width: 30rem;
}