.option-text {
    cursor: pointer;
}

.game-container-div {
    display: flex;
    justify-content: space-between;
}

.inventory-div {
    padding: 0 4rem;
    text-align: center;
}

.game-input {
    font-family: modeseven;
    font-size: 1rem;
    background: none;
    border: none;
    color: white;
    margin-top: 0rem;
    margin-left: 0.5rem;
    padding: 0rem;
}

.game-input-arrow {
    margin: 0rem;
    padding: 0rem;
}

.game-input:focus {
    font-family: modeseven;
    font-size: 1rem;
    background: none;
    outline: none;
    color: white;
}

.text-input-div {
    display: flex;
    align-items: center;
    margin-top: 0rem;
    padding: 0rem;
}