.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: top;    
    background: lightgray;
    margin: 0rem;
    padding: 0.5rem 0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

}

.navbar__item navbar__home {

    padding: 0rem; 
}

.navbar__item {
    list-style-type: none;

    padding: none;
    margin: none;
}

.navbar__link{
    color: black;
    text-decoration: none;
    padding: 0;
    margin-right: 0.5rem;
}

.navbar__link__register {
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.navbar__link:hover {
    color: rgb(0, 255, 0);
}

.navbar__link__register:hover {
    color: rgb(0, 255, 0);
}

.navbar-end {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}